<ion-content class="bg-image">
  
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <div>
          <ion-buttons slot="start" class="align-image">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>

      <ion-col class="image" size="9">
        <ion-img src="../../../../assets/images/logo.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="heading" align="left">
    <a color="primary">HOLIDAY PACKAGES</a>
  </div>

  <div class="heading" align="left">
    <a color="primary">DOMESTIC PACKAGES</a>
  </div>

  <div class="heading" align="left">
    <a color="primary">INTERNATIONAL PACKAGES</a>
  </div>

  <ion-item class="bg-color">
    <ion-label position="floating">WHERE ARE YOU HEADED ?</ion-label>
    <ion-icon name="pin" slot="end"></ion-icon>
    <ion-input></ion-input>
  </ion-item>

  <div class="login-btn">
    <ion-button expand="block" (click)="login()">SEARCH</ion-button>
  </div>
</ion-content>
