<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar class="toolbar">
          <ion-title>
            <div class="image">
              <ion-img src="../../../../assets/images/logo.png"></ion-img>
            </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="main-content">
        <ion-list class="list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of section1">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ng-container *ngIf="!p.isOrange">
                <ion-icon [name]="p.icon" size="large"></ion-icon>
              </ng-container>
              <ion-label [ngClass]="p.isOrange ? 'orange' : 'grey'">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>