@import '../../../../theme/variables.scss';

.image {
    .hydrated {
        width: 200px;
    }
}
.toolbar {
    --ion-toolbar-background: rgb(241, 241, 241);
}
.main-content {
    --ion-background-color: rgb(241, 241, 241);
}
.list {
    ion-label {
        font-family: $Montserrat-Family;
        font-size: 18px;
        font-weight: 600;
        padding-left: 20px;
    }
    ion-label.orange {
        color: $-orange-label;
    }
    ion-label.grey {
        color: rgb(37, 49, 83);
    }
    ion-icon {
        // transform: rotate(-40deg);
        color: $-orange-label;
    }
    ion-item {
        --inner-border-width: 0px;
    }
}