<ion-content padding class="bg-image">
  <div class="image">
    <ion-img src="../../../../assets/images/logo.png"></ion-img>
  </div>
  <div class="content-background">
    <ion-item class="bg-color">
      <ion-label position="floating">FULL NAME</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="bg-color">
      <ion-label position="floating">EMAIL</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="bg-color">
      <ion-label position="floating">MOBILE</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
   
    <ion-item class="bg-color">
      <ion-label position="floating">PASSWORD</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="bg-color">
      <ion-label position="floating">REFERRAL CODE</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="login-btn">
      <ion-button expand="block" >REGISTER</ion-button>
  </div>
 

  <div class="register-info" align="center">
    <p>Already have an account?</p>
    <ion-button  fill="outline" (click)="login()">LOGIN</ion-button>
  </div>
</ion-content>