<ion-content padding class="bg-image">
  <div class="image">
    <ion-img src="../../../../assets/images/logo.png"></ion-img>
  </div>
  <div class="heading">
    <p>LOGIN</p>
  </div>
  <div class="content-background">
    <ion-item class="bg-color">
      <ion-label position="floating">USERNAME</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="bg-color">
      <ion-label position="floating">PASSWORD</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="login-btn">
      <ion-button expand="block" >LOGIN</ion-button>
  </div>
  <div class="forget-pass-link" align="right">
    <a color="primary">forget password?</a>
  </div>

  <div class="register-info" align="center">
    <p>Don't have an account?</p>
    <ion-button  fill="outline">Register</ion-button>
  </div>
</ion-content>