.bg-image {
    --background: url(../../../../assets/images/pre-login-BG.jpg) top center / 100% 100%;
    .bg-color {
        --background:transparent;
        --highlight-background: white;
        border-bottom: 1px solid white;
        ion-label {
            color: white !important;
        }
    }
}
